{% extends 'base.html' %}

{% block title %}List of Items{% endblock %}

{% block content %}
<h1>Items for Sale</h1>
<form method="post" action="{% url 'add_to_cart' %}">
    {% csrf_token %}
    <ul>
        {% for order in orders %}
        <li>
            <input type="checkbox" name="items" value="{{ order.orderId }}" /> 
            {{ order.orderName }} - Status: {{ order.status }}
        </li>
        {% endfor %}
    </ul>
    <button type="submit">Add to Cart</button>
</form>
{% endblock %}
